#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-header {
  background-color: #004d40; /* Deep green */
  padding: 20px;
  text-align: center;
  color: white;
}

.app-logo {
  width: 50px; /* Adjust as needed */
}

.score-interface {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.score-input {
  margin-bottom: 20px;
}

.scores-list ul {
  list-style: none;
}

.handicap-display {
  margin-top: 20px;
}

.app-footer {
  background-color: #00251a; /* Darker green */
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
